.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  color: #ffff;
}
.logo {
  font-family: "Single Day";
  font-style: normal;
  font-weight: 400;
  margin: 0;
  font-size: 3rem;

  color: #72db73;
}

.home {
  align-items: center;
  justify-content: center;
  background-color: black;
}

.home-inner-div {
  width: 91%;
  height: 94vh;
  padding: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.home-left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inner-left-1 {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.inner-left-2 {
  width: 51%;
}
.home-right {
  width: 41%;
  margin-left: 1.5rem;
  height: 100%;
}
